@import "tailwindcss";

:root ::-webkit-scrollbar {
  display: none;
}

.neon-chip {
  background: linear-gradient(135deg, rgba(34, 211, 238, 0.2), rgba(139, 92, 246, 0.18));
  border: 1px solid rgba(255,255,255,0.1);
  box-shadow: 0 8px 22px rgba(34, 211, 238, 0.25);
}
